---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactForm from "../../components/ContactForm.astro";
---

<BaseLayout>
    <!-- HERO -->
    <section
        class="relative min-h-[20vh] md:min-h-[50vh] bg-[url('/background.jpg')] bg-cover bg-center flex items-center text-white"
    >
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/40"></div>

        <!-- Content -->
        <div
            class="relative z-10 container-max px-4 text-center max-w-4xl mx-auto"
        >
            <h1
                class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 leading-tight text-white"
            >
                GỬI HÀNG ĐI CHÂU MỸ
            </h1>

            <div class="mx-auto mt-1 h-0.5 w-24 bg-white mb-6 bg-center"></div>

            <p class="text-base md:text-lg leading-relaxed text-white">
                Gửi hàng đi Mỹ & Canada nhanh chóng – an toàn – giá tốt
            </p>
        </div>
    </section>

    <!-- GIỚI THIỆU -->
    <section class="bg-gray-100 py-12">
        <div class="container-max px-4 grid md:grid-cols-2 gap-8 items-center">
            <div class="space-y-4 leading-relaxed">
                <h2 class="text-3xl font-semibold mb-6 leading-tight">
                    Về Skylane Logistics
                    <div
                        class="mt-2 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mb-6"
                    >
                    </div>
                </h2>

                <p class="mx-8 text-base leading-relaxed">
                    Châu Mỹ là một trong những khu vực có nhu cầu vận chuyển
                    quốc tế lớn nhất hiện nay, đặc biệt là Bắc Mỹ với hai thị
                    trường trọng điểm Mỹ và Canada. Trong bối cảnh giao thương
                    quốc tế ngày càng phát triển, nhu cầu gửi hàng đi các nước
                    này cũng không ngừng tăng cao, đặc biệt đối với cá nhân có
                    người thân ở nước ngoài, shop kinh doanh online và doanh
                    nghiệp xuất khẩu. Tuy nhiên, việc lựa chọn đơn vị vận chuyển
                    uy tín, am hiểu thủ tục và tối ưu chi phí là yếu tố then
                    chốt giúp hàng hóa đến nơi đúng hẹn – đúng chuẩn – đúng giá.
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Với kinh nghiệm nhiều năm trong lĩnh vực logistics quốc tế,
                    Skylane Logistics cung cấp dịch vụ gửi hàng đi châu Mỹ trọn
                    gói, hỗ trợ từ A–Z, giúp khách hàng an tâm trong từng đơn
                    hàng.
                </p>
            </div>

            <div class="rounded-xl p-6 flex justify-center">
                <figure class="text-center">
                    <div class="hidden lg:flex justify-center">
                        <img
                            src="/dich-vu/gui-hang-di-my.png"
                            alt="Dịch vụ gửi hàng đi Mỹ"
                            class="w-full max-w-md mx-auto object-contain"
                        />
                    </div>

                    <figcaption class="mt-4 text-sm text-gray-500">
                        Dịch vụ gửi hàng đi Mỹ tại Skylane Logistics
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <section class="bg-gray-100 py-12">
        <div class="container-max px-4">
            <h2 class="text-3xl font-semibold mb-6 leading-tight">
                Dịch Vụ Gửi Hàng Đi Châu Mỹ Tại Skylane Logistics
                <div
                    class="mt-2 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mb-6"
                >
                </div>
            </h2>
        </div>
        <div class="container-max px-4 grid md:grid-cols-2 gap-8 items-center">
            <div class="rounded-xl p-6 flex justify-center">
                <figure class="text-center">
                    <div class="hidden lg:flex justify-center">
                        <img
                            src="/dich-vu/gui-hang-di-my.png"
                            alt="Dịch vụ gửi hàng đi Mỹ"
                            class="w-full max-w-md mx-auto object-contain"
                        />
                    </div>

                    <figcaption class="mt-4 text-sm text-gray-500">
                        Dịch vụ gửi hàng đi Mỹ tại Skylane Logistics
                    </figcaption>
                </figure>
            </div>
            <div class="space-y-4 leading-relaxed">
                <p class="mx-8 text-base leading-relaxed">
                    Dịch vụ gửi hàng đi Châu Mỹ của Skylane Logistics là giải
                    pháp vận chuyển quốc tế trọn gói, được thiết kế linh hoạt
                    theo từng nhu cầu cụ thể. Chúng tôi hỗ trợ khách hàng từ
                    khâu tư vấn, đóng gói, xử lý thủ tục cho đến khi hàng được
                    giao tận tay người nhận.
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Skylane hiện khai thác tuyến vận chuyển đi Mỹ và Canada, hai
                    thị trường trung tâm của Châu Mỹ, với khả năng:
                </p>

                <ul class="mx-14 space-y-3 pt-1 text-gray-700">
                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Gửi hàng đến thành phố lớn, khu dân cư xa trung tâm
                        </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Giao hàng đến vùng sâu, vùng xa, khu vực ít chuyến
                        </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed"
                            >Hỗ trợ các địa chỉ khó, địa chỉ đặc thù theo yêu
                            cầu</span
                        >
                    </li>
                </ul>

                <p class="mx-8 text-base leading-relaxed">
                    Dịch vụ phù hợp cho:
                </p>

                <ul class="mx-14 space-y-3 pt-1 text-gray-700">
                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Cá nhân gửi hàng cho người thân tại Châu Mỹ
                        </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Du học sinh, Việt kiều
                        </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Shop online, doanh nghiệp kinh doanh xuyên biên
                            giới.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Các tuyến gửi hàng -->
    <section class="bg-gray-100 py-12">
        <div class="container-max px-4">
            <h2 class="text-3xl font-semibold mb-6 leading-tight">
                Các tuyến gửi hàng đi Châu Mỹ tại Skylane Logistics
                <div
                    class="mt-2 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mb-6"
                >
                </div>
            </h2>
        </div>
        <div class="container-max px-4 grid md:grid-cols-2 gap-8 items-center">
            <div class="space-y-4 leading-relaxed">
                <p class="font-semibold text-lg text-base leading-relaxed">
                    Gửi hàng đi Mỹ (USA)
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Skylane Logistics triển khai dịch vụ gửi hàng đi Mỹ đến hầu
                    hết các bang trên toàn lãnh thổ, từ các trung tâm lớn như
                    California, Texas, New York… cho đến những khu vực xa trung
                    tâm, vùng ngoại ô và remote area.
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Nhờ mạng lưới đối tác vận chuyển tại Mỹ, Skylane đảm bảo
                    hàng hóa được giao đúng địa chỉ, kể cả khu vực khó tiếp cận.
                </p>

                <p class="font-semibold text-lg text-base leading-relaxed">
                    Gửi hàng đi Canada
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Đối với tuyến Canada, Skylane Logistics nhận gửi hàng đến
                    các thành phố lớn như Toronto, Vancouver, Montreal… đồng
                    thời hỗ trợ giao hàng đến các khu vực vùng sâu, vùng xa, khu
                    dân cư thưa, nơi không phải đơn vị nào cũng nhận vận chuyển.
                </p>
                <p class="mx-8 text-base leading-relaxed">
                    Ưu điểm tuyến Canada tại Skylane:
                </p>

                <ul class="mx-14 space-y-3 pt-1 text-gray-700">
                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed"> Tuyến ổn định </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed">
                            Xử lý linh hoạt địa chỉ nhận hàng
                        </span>
                    </li>

                    <li class="flex items-start gap-3">
                        <img
                            src="/icons/approval.svg"
                            class="w-5 h-5 mt-1 shrink-0"
                        />
                        <span class="leading-relaxed"
                            >Phù hợp cho cả hàng lẻ và hàng số lượng lớn</span
                        >
                    </li>
                </ul>
            </div>
            <div class="rounded-xl p-6 flex justify-center">
                <figure class="text-center">
                    <div class="hidden lg:flex justify-center">
                        <img
                            src="/dich-vu/gui-hang-di-my.png"
                            alt="Dịch vụ gửi hàng đi Mỹ"
                            class="w-full max-w-md mx-auto object-contain"
                        />
                    </div>

                    <figcaption class="mt-4 text-sm text-gray-500">
                        Dịch vụ gửi hàng đi Mỹ tại Skylane Logistics
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <section class="bg-gray-100 py-12">
        <div class="container-max px-4">
            <h2 class="text-3xl font-semibold mb-12">
                Skylane Logistics nhận những loại hàng nào?
                <div
                    class="mt-4 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mb-6"
                >
                </div>
            </h2>

            <div class="mb-4 font-semibold">
                Skylane Logistics nhận vận chuyển đa dạng các loại hàng hóa, bao
                gồm:
            </div>

            <ul class="mx-8 space-y-3 pt-1 text-gray-700">
                <li class="flex items-start gap-3">
                    <img
                        src="/icons/approval.svg"
                        class="w-5 h-5 mt-1 shrink-0"
                    />
                    <span class="leading-relaxed">
                        <strong>Hàng hóa cá nhân:</strong> Quần áo, giày dép, túi
                        xách, mỹ phẩm, thực phẩm, quà tặng…
                    </span>
                </li>

                <li class="flex items-start gap-3">
                    <img
                        src="/icons/approval.svg"
                        class="w-5 h-5 mt-1 shrink-0"
                    />
                    <span class="leading-relaxed">
                        <strong>Hàng hóa kinh doanh:</strong> Thiết bị điện tử, máy
                        móc, nguyên liệu sản xuất, hàng tiêu dùng…
                    </span>
                </li>

                <li class="flex items-start gap-3">
                    <img
                        src="/icons/approval.svg"
                        class="w-5 h-5 mt-1 shrink-0"
                    />
                    <span class="leading-relaxed"
                        ><strong>Một số mặt hàng nhạy cảm:</strong> Hàng thương hiệu,
                        hàng fake, TPCN, hàng có pin,...</span
                    >
                </li>

                <li class="flex items-start gap-3">
                    <img
                        src="/icons/approval.svg"
                        class="w-5 h-5 mt-1 shrink-0"
                    />
                    <span class="leading-relaxed"
                        ><strong>Hàng hóa đặc biệt:</strong> Hàng cồng kềnh, hàng
                        dễ vỡ, hàng hóa có giá trị cao…
                    </span>
                </li>
            </ul>
            <div class="flex gap-2 mt-6 text-gray-700">
                <p class="font-semibold">
                    <span class="text-red-600"> Lưu ý: </span>Một số mặt hàng bị
                    hạn chế hoặc không được phép gửi đi Mỹ và Canada theo quy
                    định của hãng vận chuyển và hải quan. Vì vậy, khách hàng nên
                    liên hệ Skylane để được tư vấn và xác nhận trước khi gửi
                    hàng, tránh các phát sinh không mong muốn.
                </p>
            </div>
        </div>
    </section>

    <!-- ƯU ĐIỂM DỊCH VỤ -->
    <section class="bg-gray-100 py-12">
        <div class="container-max px-4">
            <h2 class="text-3xl font-semibold mb-12 text-center">
                Ưu điểm dịch vụ chuyển phát nhanh Skylane Logistics
                <div
                    class="mt-4 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mb-6 mx-auto"
                >
                </div>
            </h2>

            <div class="grid md:grid-cols-2 gap-6 text-center">
                <div class="bg-white p-6 rounded-xl shadow">
                    <img
                        src="/icons/money-bag.svg"
                        alt="Thời gian vận chuyển nhanh"
                        class="mx-auto w-20 h-20 mb-4"
                    />

                    <h3 class="text-xl font-semibold mb-4">
                        Giá cả cạnh tranh và minh bạch
                    </h3>
                    <p class="font-semibold text-md">
                        Skylane Logistics luôn nỗ lực để mang đến mức giá hợp lý
                        nhất thị trường. Bảng giá được cập nhật thường xuyên, tư
                        vấn rõ ràng ngay từ đầu, giúp khách hàng chủ động dự
                        toán chi phí và hạn chế tối đa các khoản phát sinh ngoài
                        kế hoạch
                    </p>
                </div>
                <div class="bg-white p-6 rounded-xl shadow">
                    <img
                        src="/icons/fast-delivery.svg"
                        alt="Thời gian vận chuyển nhanh"
                        class="mx-auto w-20 h-20 mb-4"
                    />

                    <h3 class="text-xl font-semibold mb-4">
                        Thời gian vận chuyển nhanh chóng, ổn định
                    </h3>
                    <p class="font-semibold text-md">
                        Giao hàng tận tay người nhận chỉ từ 5 đến 7 ngày làm
                        việc
                    </p>
                </div>

                <div class="bg-white p-6 rounded-xl shadow">
                    <img
                        src="/icons/customer-support.svg"
                        alt="Thời gian vận chuyển nhanh"
                        class="mx-auto w-20 h-20 mb-4"
                    />
                    <h3 class="text-xl font-semibold mb-4">
                        Dịch vụ chuyên nghiệp, hỗ trợ tận tâm
                    </h3>
                    <p class="font-semibold text-md">
                        Đội ngũ Skylane giàu kinh nghiệm, sẵn sàng tư vấn và hỗ
                        trợ khách hàng trong suốt quá trình gửi hàng cho đến khi
                        hàng tới tay người nhận
                    </p>
                </div>

                <div class="bg-white p-6 rounded-xl shadow">
                    <img
                        src="/icons/global-partner.svg"
                        alt="Thời gian vận chuyển nhanh"
                        class="mx-auto w-20 h-20 mb-4"
                    />
                    <h3 class="text-xl font-semibold mb-4">
                        Mạng lưới đối tác uy tín
                    </h3>
                    <p class="font-semibold text-md">
                        Skylane hợp tác với các hãng vận chuyển và đối tác
                        logistics uy tín tại Úc và quốc tế, giúp quá trình vận
                        chuyển diễn ra ổn định, đồng bộ và đáp ứng tốt nhu cầu
                        gửi hàng đa dạng của khách hàng
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-100 py-12">
        <div class="container-max px-4 grid text-center">
            <h2 class="text-3xl font-semibold mb-8">
                KẾT LUẬN
                <div
                    class="mt-4 h-0.5 w-24 bg-gradient-to-r from-hdtDark to-hdtBlue mx-auto"
                >
                </div>
            </h2>

            <p class="font-semibold text-gray-900 leading-relaxed mb-6">
                Với kinh nghiệm xử lý các tuyến vận chuyển quốc tế, đặc biệt là
                khu vực châu Mỹ, Skylane Logistics cam kết mang đến giải pháp
                vận chuyển phù hợp với từng nhu cầu cụ thể, góp phần hỗ trợ
                khách hàng kết nối và mở rộng hoạt động giao thương ra thị
                trường quốc tế.
            </p>

            <p class="font-semibold text-gray-900 leading-relaxed mb-6">
                Liên hệ ngay với Skylane Logistics để được tư vấn và báo giá
            </p>
        </div>

        <div class="bg-gray rounded-xl p-6">
            <ContactForm />
        </div>
    </section>
</BaseLayout>
