@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    height: 100%;
}


/* small utility for container */
.container-max {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}