---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section class="container-max px-4 py-12">
        <h1 class="text-3xl font-bold mb-4">Về chúng tôi</h1>
        <p>
            HDT Logistics cung cấp dịch vụ giao nhận và kho bãi chuyên nghiệp...
        </p>
    </section>
</BaseLayout>
