---
import "../styles/global.css";
---

<html>
    <body class="text-gray-800">
        <slot />
    </body>
    <head>
        <script type="module" src="/src/scripts/alpine-init.js"></script>
    </head>
</html>
